:root {
    --background_Color: ;
    --color_1:  ;
    --color_2: ;
    --color_3: ;
    --color_4: ; 
    --color_5: ;

    --font_family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_family);
    user-select: none;
    color: black;
}