@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
    --background_color: #c1d4d9;
    --button_color: #326173 ;
    --s_color_1: #6d96a6;
    --s_color_2: #8c3503; 
    --s_color_3: #d96a6a;

    --font_color: #010D1D;
    --font_family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_family);
    user-select: none;
    color: var(--font_color);
}

body {
    background: var(--background_color);
}
